<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Filtering" version="0.6.0" targetFramework="net472" />
  <package id="MathNet.Numerics" version="4.8.1" targetFramework="net472" />
  <package id="NWaves" version="0.9.2" targetFramework="net472" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net472" />
</packages>